<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">

<title>Ajouter un BluRay</title>

</head>

@model AddBluRayBodyViewModel
<h2>Ajouter un nouveau BluRay</h2>

<form asp-controller="Home" asp-action="AddBluRay" method="post"> 
		<div class="card" >
		<div class="mb-3">
		 

		  <input type="text" class="form-control" name="Titre" id="titre" asp-form="@Model.Titre" placeholder="Titre du BluRay" required>
		</div>
		<div class="mb-3">
		 
		  <input type="number" class="form-control" name="Duree" asp-form="@Model.Duree" id="duree" placeholder="Durée du film" required>
		</div>

		<div class="form-floating mb-4 d-flex">
		  <input 
				 type="text"
				 class="datepicker_input form-control border-2"3
				 name="Date"
				 id="date"
				 required
				 asp-form="@Model.Date"
				 placeholder="DD/MM/YYYY">
		  <label for="datepicker1">Date de sortie du film (jj/mm/aaaa)</label>
		</div>

	

		<div class="input-group mb-3">
			  <label class="input-group-text" for="inputGroupSelect01">Version</label>
			  <select class="form-select" name="Version" id="version" asp-form="@Model.Version">
				<option value="courte">Courte</option>
				<option value="longue">Longue</option>
			  </select>
			</div>

			<div class="dropdown-group mb-3"">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				Langues disponibles
				</button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				 
				<li><div class="form-check">
				  <input class="form-check-input" type="checkbox"  id="flexCheckDefault" >
				  <label class="form-check-label" for="flexCheckDefault">
					Français
				  </label></li>
				<li><div class="form-check">
				  <input class="form-check-input" type="checkbox" id="flexCheckDefault" >
				  <label class="form-check-label" for="flexCheckDefault">
					Anglais
				  </label></li>
				  <li><div class="form-check">
				  <input class="form-check-input" type="checkbox" id="flexCheckDefault" >
				  <label class="form-check-label" for="flexCheckDefault">
					Espagnol
				  </label>
				  </li>
			  </ul>
			</div>

			<div class="dropdown-group mb-3"">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				Langues des sous-titres disponibles
				</button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li><div class="form-check">
				  <input class="form-check-input" type="checkbox" id="flexCheckDefault" >
				  <label class="form-check-label" for="flexCheckDefault">
					Français
				  </label></li>
				<li><div class="form-check">
				  <input class="form-check-input" type="checkbox"  id="flexCheckDefault" >
				  <label class="form-check-label" for="flexCheckDefault">
					Anglais
				  </label></li>
				  <li><div class="form-check">
				  <input class="form-check-input" type="checkbox"  id="flexCheckDefault">
				  <label class="form-check-label" for="flexCheckDefault">
					Espagnol
				  </label>
				  </li>
			  </ul>
			</div>

			<input class="btn btn-primary" type="submit" value="Ajouter" >
		</div>
		</form>

<style>
.labelForm {
	
	text-align: center;
	font-weight: normal;
}

.selectForm {
	display: inline-block !important;
	width: auto !important;
	vertical-align: middle;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
	background-color: #5a4d9bf2;
}
.form-floating > .bi-calendar-date + .datepicker_input + label {
  padding-left: 3.5rem;
  z-index: 3;
}
</style>